# Docker volumes
clickhouse_data/
clickhouse_logs/
data_lake/
db-data/

# Input data files
airflow/input-files/
*.csv    
# DBT
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Python
__pycache__/
env/
venv/
.venv/


# Logs
*.log
logs/

